*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Custom Properties */

:root {
  /* Font Family */
  --ff--primary: "Quicksand", sans-serif;

  /* Font Weight */
  --fw-reg: 300;
  --fw-bold: 700;

  /* Color */
  --clr-light: #fff9f9;
  --clr-dark: #303841;
  --clr-accent: #ea9215;

  /* Sizes */
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  /* Box Shadow */
  --bs: 0.5em 0.5em 0.75em rgba(0, 0, 0, 0.25);
}

/* General Styles */
body {
  background: var(--clr-light);
  color: var(--clr-dark);
  font-family: var(--ff--primary);
  margin: 0;
  font-size: var(--fs-bold);
  line-height: 1.6;
}

.dev-logo {
  margin: 20px;
  width: 50px;
  height: auto;
}

img {
  display: block;
  max-width: 100%;
  /* height: auto; */
}
strong {
  font-weight: var(--fw-bold);
  font-size: var(--fs-h1);
  color: var(--clr-dark);
}

/* Typography */
h1,
h2,
h3 {
  line-height: 1.1;
  margin: 0;
}
h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}

/* Section Styling */
section {
  padding: 3em 2em;
}
.section__title {
  margin-bottom: 0.35em;
  margin-top: 1em;
}

.section__title--intro {
  font-weight: var(--fw-reg);
}

.section__title--intro strong {
  display: block;
}

.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}
.section__subtitle--intro {
  text-transform: uppercase;
  font-weight: var(--fw-bold);
  letter-spacing: 1.5px;
}

.section__subtitle--intro,
.section__subtitle--about {
  background: var(--clr-accent);
  font-family: var(--ff-secondary);
  padding: 0.25em 1em;
  margin-bottom: 1em;
}

/* header */

nav {
  display: none;
}

/* Intro Section */
.intro {
  position: relative;
}

.intro__img {
  box-shadow: var(--bs);
}

/* Media Queries */
/* Responsive Large Screens */
@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}
@media (min-width: 800px) {
  .services {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
  }
  .service {
    margin-right: 1em;
  }
}

/* Responsive Medium Screens */
@media (min-width: 600px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas:
      "img title"
      "img subtitle";
    grid-template-columns: min-content max-content;
  }

  .intro__img {
    grid-area: img;
    min-width: 200px;
    position: relative;
  }
  .section__subtitle--intro {
    align-self: start;
  }
  .section__subtitle--intro {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
  }
}

/* Services Section */

.my-services {
  background: var(--clr-dark);
  background-image: url(../Analise-Website/images/lady-computer.jpg);
  background-size: cover;
  background-blend-mode: multiply;
  color: var(--clr-light);
  text-align: center;
}
.services {
  margin-bottom: 2em;
}

.section__title--services {
  color: var(--clr-accent);
  position: relative;
}
.section__title--services::after {
  content: "";
  display: block;
  width: 3em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: currentColor;
  opacity: 0.5;
}

:focus {
  outline: 3px solid var(--clr-accent);
  outline-offset: 3px;
}

.btn {
  background: var(--clr-accent);
  padding: 0.5em 1.5em;
  text-decoration: none;
  color: var(--clr-dark);
  font-weight: var(--fw-bold);
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 10px;
  cursor: pointer;
  letter-spacing: 2px;
  transition: transform 200ms ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
}

.service {
  padding: 1em;
  max-width: 500px;
  margin: 0 auto;
}

/* About Me Section Styling */
